{% extends "dashboard.html" %}
{% block content %}
<!--Show complaint -->
                    
<div class="row">
                    <div class="col-12">
                        {% for item in data %}
                        <div class="card">
                            <div class="card-body">
<table class="table user-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Form Name</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Filled Date</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">Date of Exam</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Issue Date</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Availability</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Centre</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                    
                                            <tr>
                                                <td>{{ item['form_name'] }}</td>
                                                <td>{{ item['date_of_filling'] }}</td>
                                                <td>{{ item['date_of_exam'] }}</td>
                                                <td>{{ item['issue_date'] }}</td>
                                                <td>{{ item['card_available'] }}</td>
                                                <td>{{ item['centre'] }}</td>
                                                <td><button class="btn btn-warning mx-auto mx-md-0 text-white">
                                            Download
                                            </button></td>
                                            </tr>

                                           
                                        </tbody>
                                    </table>
    
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>

</div>


 <!-- End of show complaint -->


{% endblock %}