{% extends "dashboard.html" %}
{% block content %}
<!--Show complaint -->                   
<div class="row">
                    <div class="col-12">
                        <form action="{{('registrationId')}}" method="Post">
                        
                        <div class="card">
                            <div class="card-body">
                            <center><h3 style="font-color:'blue';"> <u>Registration successfull</u></h3></center>
                        </br>
                            <h4> Your registration is complete and your registration id is : {{ regid }}
                            </h4>
                        </br>
                        <h4>Your password is : {{ passw }}
    
                                
                            </div>
                            <div class="form-group">
                                                        <div class="col-12 ml-2 mb-2">

                            <button class="btn btn-warning mx-auto mx-md-0 text-white" type="submit" name="button2">
                            Close
                        </button>
                        </div>
                    </div>
                        
                            
                        </form>

                    </div>

</div>


 <!-- End of show complaint -->


{% endblock %}