{% extends "dashboard.html" %}
{% block content %}
<!--Show complaint -->
                    
<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
<table class="table user-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">User Id</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">User Name</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">Complaint Type</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             {% for item in data %}
                                            <tr>
                                                <td>{{ item['user_id'] }}</td>
                                                <td>{{ item['name'] }}</td>
                                                <td>{{ item['type'] }}</td>
                                                <td>{{ item['description'] }}</td>
                                                <td><button class="btn btn-warning mx-auto mx-md-0 text-white">
                                            Forward
                                            </button></td>
                                            </tr>

                                           {% endfor %}
                                        </tbody>
                                    </table>
    
                                
                            </div>
                        </div>
                    </div>
</div>


 <!-- End of show complaint -->


{% endblock %}