{% extends "dashboard.html" %}
{% block content %}

<!--Update Passowrd Form -->

<div class="row">
                    
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body profile-card">
                                 <form id="Login" action="{{ url_for('updatepasswordscr') }}" method="post">

       <div class="form-group">

            <input class="au-input au-input--full" type="password" id="password" name="password" placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required style="height: 40px; width: 300px">
        </div>
        <div class="form-group">

            <input class="au-input au-input--full" type="password" id="password2" name="password" placeholder="Confirm New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required style="height: 40px; width: 300px">
        </div>
        <div class="form-group">
            <input type="checkbox" onclick="myFunction()"> Show Password</input>
        </div> 
         <div class="form-group">
                                        <div class="col-sm-11 d-flex">
                                            <button class="btn btn-warning mx-auto mx-md-0 text-white">Update password
                                            </button>
                                        </div>
                                    </div>


    </form>
                                
                            </div>
                        </div>
                    </div>

 <!-- End of Update Password -->

 <!-- Update Docs -->
     <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Full Name</label>
                                        <div class="col-md-12">
                                            <input type="text" Placeholder="{{ session['name'] }}"
                                                class="form-control pl-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" Placeholder="{{ session['email'] }}"
                                                class="form-control pl-0 form-control-line" name="example-email"
                                                id="example-email">
                                        </div>
                                    </div>
                                   <!--  <div class="form-group">
                                        <label class="col-md-12 mb-0">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="{{session['[password]']}}"
                                                class="form-control pl-0 form-control-line" id="password3">
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" onclick="myFunction2()"> Show Password</input>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" Placeholder="{{ session['phone'] }}"
                                                class="form-control pl-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Address</label>
                                        <div class="col-md-12">
                                            <textarea rows="2" class="form-control pl-0 form-control-line" Placeholder="{{ session['address'] }}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">City</label>
                                        <div class="col-sm-12">
                                            <select class="form-control pl-0 form-control-line">
                                                <option>{{ session['city'] }}</option>
                                                <option>Udaipur</option>
                                                <option>Pune</option>
                                                <option>Chittaurgarh</option>
                                                <option>Kota</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">State</label>
                                        <div class="col-sm-12">
                                            <select class="form-control pl-0 form-control-line">
                                                <option>{{ session['state'] }}</option>
                                                <option>Rajasthan</option>
                                                <option>Gujarat</option>
                                                <option>Maharashtra</option>
                                                <option>Madhya Pradesh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 d-flex">
                                            <button class="btn btn-success mx-auto mx-md-0 text-white">Update
                                                Details</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

            </footer>
<script>
    function myFunction() {
  var x = document.getElementById("password2");
  if (x.type == "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}



 function myFunction2() {
  var x = document.getElementById("password3");
  if (x.type == "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
 <!-- End of Update Docs -->

{% endblock content %}
